@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#f6f5f5;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header {
    height: 100vh;
}

.video-bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.navbar {
    height: 80px;
    /* width: 100%; */
    background: rgba(0,0,0,0.9);
    top: 0;
    position: sticky;
    z-index: 1;
    text-align: center;
}

.logo {
    margin: 20px;
    margin-left: 40px;
    height: 40px;
    /*background: linear-gradient(to top,  #c95585, #9f26aa);
    border-radius: 2px;*/
}

.navbar ul {
    /* float: right;
    margin-right: 20px; */
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 6px 13px;
    transition: .3s;}

.navbar ul li a:hover {
    background: rgba(231, 46, 207, 0.301);
    border-radius: 2px;
    /*background-image: url(./gambar/ffxiv_11102020_150605_705.png);*/
}

.welcome {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.background-about {
    padding-top: 80px;
}

.about-container {
    margin: 0px auto 80px auto;
    width: 70%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

.about-text {
    width: 550px;
    text-align: center;
}

.about-text p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    color: rgb(169, 86, 202);
    line-height: 5px;
}

.about-text p:nth-child(3) {
    font-size: 15px;
}

.services {
    height: 800px;
    background-color: white;
    padding: 70px 10% 0px 10%;
}
.services-text p:nth-child(1) {
    font-weight: bold;
    font-size: 30px;
    color: rgb(169, 86, 202);
    line-height: 10px;
}
.services-text p:nth-child(2) {
    font-weight: bold;
    font-size: 17px;
    color: rgb(130, 66, 155);
    line-height: 50px;
}

.services-text p:nth-child(3) {
    font-size: 16px;
}

.services-text {
    width: 500px;
    margin: 50px 0px;
}

.box-1,.box-2 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 4px;
    line-height: 18px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
}
.box-1 {
    background-image: url(./gambar/services-1.png);
}
.box-2 {
    background-image: url(./gambar/services-2.png);
}

.box-1 span,
.box-2 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2) {
    color: white;
    font-family: poppins;
    font-size: 20px;
    line-height: 50px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3) {
    font-family: calibri;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: rgb(150, 149, 149);
}
.box-1 button,
.box-2 button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: black;
}

.project {
    background-color: rgb(230, 230, 230);
    padding: 90px 10% 100px 10%;
    text-align: center;
}

.project-txt p:nth-child(1) {
    font-weight: bold;
    font-size: 30px;
    color: rgb(169, 86, 202);
    line-height: 50px;
}
.project-txt p:nth-child(2) {
    font-size: 18px;
}

.project-txt button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
}

.img-container {
    max-width: 800px;
    background-color: rgb(26, 26, 26);
    margin: 50px auto 0 auto;
    padding: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
}

.img-container .kotak {
    position: relative;
    width: 300px;
    height: 290px;
    margin-bottom: 50px;
    background: rgb(204, 204, 204);
    box-sizing: border-box;
    display: inline-block;
}
.img-container .kotak .imgbox {
    position: relative;
    overflow: hidden;
}

.img-container .kotak .imgbox img {
    max-width: 100%;
    transition: transform 2s;
}
.img-container .kotak:hover .imgbox img {
    transform: scale(1.2);
}

footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}
footer p:nth-child(1) {
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}
footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
    text-decoration: none;
}
.social-icons {
    display: flex;
}
.copyright {
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.social-icons i {
    color: #000000;
}
.social-icons a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 1000px) {
    *{
        box-sizing: border-box;
    }
    #content {
        width: 100%;
        padding: 0;
    }
    .navbar ul {
        /* text-align: center; */
        /* display: flex; */
        font-size: 10px;    
        top: 0;
        position: sticky;
        z-index: 1;
        text-align: center;
    }
    .navbar ul li a {
        font-size: 15px;
        padding: 5px;
        text-align: center;
    }
    .text-container {
        top: 46%;
    }
    .about-container {
        width: 90%;
        border-radius: 10px;
    }
    .about-container img {
        height: 140px;
        margin: 0px 15px;
    }
    .about-text {
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
        margin-left: 15px;
    }
    .about-text p:nth-child(3){
        font-size: 13px;
        margin-left: 15px;
        text-align: center;
    }
    .services {
        padding: 2% 5% 0px 5%;
    }
    .box-container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .services {
        height: auto;
    }
    .services-text {
        width: 90%;
    }
    .services-text p:nth-child(3) {
        font-size: 13px;
    }

    .box-1,.box-2 {
        flex-grow: 1;
        margin: 10px;
    }
    .project {
        height: 200px;
    }
    .img-container {
        position: fixed;
    }
    .kotak {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer p:nth-child(2) {
        width: 90%;
        font-size: 12px;
    }
}